import simplejson as json

json_file = open(r'{{oracle_home}}/config.json')
line = json_file.read()
print "%s" %line

data = json.loads("%s" %line)

admin_user = "{{domain_username}}"
admin_pass = "{{domain_password}}"
admin_listen_port = "{{admin_ListenPort}}"


connect(admin_user,admin_pass,'t3://localhost:'+admin_listen_port)
edit()
startEdit()


# Map Machines and Cluster
# ========================
for server in data['servers']:
    appname = server['appname']
    appfile = server['appfile']
    servername = server['name']

    cd ('/Servers/'+servername)
    mbean_name='/Machines/'+'{{ groups['launched'][0] }}'
    cmo.setMachine(getMBean(mbean_name))
    deploy(appName=appname, path="{{ oracle_home }}/"+appfile, targets=servername )


# Set NodeManager Properties to Plain SSL
# =======================================
cd('/Machines/{{ groups['launched'][0] }}/NodeManager/{{ groups['launched'][0] }}')
cmo.setNMType('Plain')
cmo.setListenAddress('localhost')
cmo.setDebugEnabled(false)
cmo.setListenPort(5556)


save()
activate()


